.sidebarOption{
    display: flex;
    align-items: center;
    color: grey;
    padding: 10px;
    transition: 200ms color ease-in;
    cursor: pointer;
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption__icon{
    padding-left: 10px;
    padding-right: 10px;

}

.sidebarOption > p{
    padding: 10p;
    margin-left: 15px;
    font-size: 14px;
}